:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(233, 217, 249);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: rgb(176, 111, 241);
}


button {
  margin-left: 20px;
  color: rgb(176, 111, 241);

}

input {outline: none;}

ul {
  display: block;
  background-color: aliceblue;
  width: 200px;
  margin: 15px auto;
  border: 2px solid rgb(182, 135, 229);
  border-radius: 10px;
  padding: 10px;

}
ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

input:checked + span {
  text-decoration: line-through;
}

.delete {
  color: 'red';
  margin-left: 10px;
  cursor: pointer;
}